name: Pacman

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Pacman SVG
        uses: yanglbme/contribution-graph@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Ganti dengan username kamu langsung (paling aman)
          username: "zulkarid"
          theme: "pacman"

      - name: Upload SVG to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
